@*Added by Yogalakshmi on 19.07.2013*@


@model StudentsBO.User
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutPageforLogin.cshtml";
}

<h2>Login</h2>


@using (Html.BeginForm())
{
        
    @Html.LabelFor(u=>u.UserName)
    @Html.TextBoxFor(u=>u.UserName)
    @Html.ValidationMessageFor(u=>u.UserName)
    <div id="result" > </div>
    
    @Html.LabelFor(u=>u.Password)
    @Html.PasswordFor(u=>u.Password)
    @Html.ValidationMessageFor(u=>u.Password)

    <input type="submit" value="Login" />
    
}
    New User @Html.ActionLink("Click here","Register","User") to register.

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    
}