<!DOCTYPE html>
<html>
<head>
    <link rel="Icon" type="image/x-icon" href="~/Image/Fav.png" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>


    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <img src="~/Image/SMS.jpg" alt="SMS_Image" class="titleicon" />
                <p class="site-title">@Html.ActionLink("Student Management System", "Homepage", "Student")</p>
            </div>
            <div class="float-right">
                <section id="login">
                    Hello, <span class="username"></span>@Session["username"].ToString();!
                           @Html.ActionLink("Log Out", "Login", "User")
                </section>
            </div>
        </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>Copyright &copy; Jeevan Technologies. All Rights Reserved.</p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
